<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="helloWorld" class="com.syena.practice.HelloWorld" scope="singleton" init-method="init" destroy-method="destroy">	<!-- it uses single object reference when we are creating multiple objects -->
		<!-- <bean id="helloWorld" class="com.syena.practice.HelloWorld" scope="prototype"> -->	<!-- it creates multiple objects when we are calling multiple objects -->
		<property name="message" value="HelloWorld ....!" />
	</bean>
	
	<bean class="com.syena.practice.InitHelloWorld" />

</beans>